.container {
	padding: 0;
}

/*toppages css*/

.page-title {
	text-align: center;
	margin-bottom:60px;
	margin-top: 60px;
	color: black;
	font-size: 65px;
}

.link {
	margin-top: 155px;
}

.button {
	text-align: center;
	margin: auto;
	font-size: 20px;
	margin-bottom: 70px;
	padding-bottom: 10px;
}

.jumbotron {
	background-color: #fff;
	margin-top: 50px;
	/*padding-bottom: 20px;*/
	height: 500px;
	padding-top: 80px;
}

.header {
	margin-bottom: 0px;
}

.subtitle {
	text-align: center;
	margin-top: 100px;
  margin-bottom: 70px;
	height: 65px;
}

h2 .subtitle {
	/*font-size: 60px;*/
	/*height: 70px;*/
}

.menu {
	height: 100px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.submenu1 {
	height:30px;
	font-size: 2rem;
	/*background-color: ;*/
	/*margin-bottom: 15px;*/
}

.submenu2 {
	text-align: center;
	margin-top: 20px;
	/*width: 500px;*/
	display: flex;
	justify-content: center;
}

.winetype {
	text-align: center;
}

.submenu2 a {
	margin-left: 20px;
}

.big-bg {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

#home {
	background-image: url("../images/toppage.jpg")
}


/*winepostページ*/

.button {
	margin-bottom: 60px;
	margin-top: 60px;
}

.grid {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item {
	border: 1px solid rgba(221,221,221,.5);
	/*background-color: rgba(221,221,221,.2);*/
	height: 375px;
	width: 375px;
}

.pagenatediv {
	/*text-align: center;*/
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 450px;
}

/*それぞれのitem*/

.username-name {
	font-size: 22px;
	padding-left: 100px;
	padding-top: 8px;
}

.media-body {
	width: 300px;
}

.mr-2 {
	padding-left: 10px;
	margin-right: 0px;
	padding-top: 10px;
}

.wine-img {
	padding-top: 10px;
	/*text-align: center;*/
	padding-left: 18px;
}



.wine-name-type {
	text-align: left;
	width: 320px;
}

.wine-name-type p {
	margin-bottom: 3px;
	font-size: 15px;
}

.linktag {
	text-align: center;
	font-size: 20px;
	margin: 0 100px;
	background-color: rgba(221,221,221,.2);
}

.media.mb-3 div {
	margin-bottom: 0px;
}


/*プロフィールページ*/

.user-profile-name {
	font-size: 40px;
	text-align: center;
}

.card-body {
	text-align: center;
	margin-bottom: 20px;
}

.follow-button {
	text-align: center;
	margin: 0 460px 40px 460px;
}


/*新規投稿作成ページ*/

.new-title {
	text-align: center;
  margin-bottom: 60px;
	margin-top: 60px;
}

.submit-button {
	text-align: center;
	width: 200px;
	margin: auto;
}

.return-button {
	text-align: center;
	height: 40px;
	font-size: 20px;
	width: 400px;
	margin: auto;
	margin-top: 20px;
}


/*詳細ページ*/

.show-img {
	text-align: center;
	margin-bottom: 24px;
}


.like-button {
	width: 300px;
	margin: auto;
}

.show-item {
 padding: 20px;
 font-size: 18px;
 padding-left: 60px;
}



/*スマートフォンサイズ用レイアウト*/

@media (max-width: 670px ) {
	.page-title {
		text-align: center;
		margin-bottom:60px;
		margin-top: 60px;
		color: black;
		font-size: 32px;
  }
  
  .link {
  	margin-top: 110px;
  	
  }
  
  .btn {
  	width: 250px;
  	padding: 0 5px 0 5px;
  }
  
  .jumbotron {
  	margin: 0;
  	padding-top: 25px;
  	padding-bottom: 0;
  	height: 420px;
  }
  
  header {
  	margin-bottom: 0;
  }
  
  .subtitle {
  	margin-top: 0;
  	margin-bottom: 25px;
  }
  
  .postmassage {
  	font-size: 32px;
  }
  
  .menu {
  	margin-bottom: 0;
  }
  
  .submenu2 {
  	display: flex;
  }
  
  .winetype {
  	margin: 0;
  	font-size: 15px;
  }
}
